.footer-container {
    width: 100vw;
    height: 18vh;
    background-color: black;

    .footer-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;

        .dev-copyright {
            color:white;
        }
    }
}