.footer-container {
    width: 100vw;
    height: 18vh;
    background-color: black;

    .footer-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .dev-copyright {
            color:white;
        }

        .footer-nav-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-end;
            align-items: center;
            background-color: black;
            color: #faf9ed;
            padding: 25px;

            .list-item-break {
                margin: 10px;
                font-size:  25px;
                font-family: 'Open Sans', sans-serif;
                color: #eb4034;
                margin-left: 2px;
            }
            
            .footer-list-item {
                margin: 10px;
                font-size:  15px;
                font-family: 'Open Sans', sans-serif;
            }

            .footer-list-item:hover {
                color: #eb4034;
                transition: 0.3s;
                cursor: pointer;
            }

        }
        
    }
}