@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    background-color: black;
}

.nav-home-img {
    width: 80px;
    height: 80px;
}

.nav-home-img:hover {
    cursor: pointer;
    opacity: 0.8;
}

.nav-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    color: #faf9ed;
    padding: 25px;
}

.list-item {
    margin: 10px;
    font-size:  25px;
    font-family: 'Open Sans', sans-serif;
}

.list-item-break {
    margin: 10px;
    font-size:  25px;
    font-family: 'Open Sans', sans-serif;
    color: #eb4034;
}

.list-item:hover {
    color: #eb4034;
    cursor: pointer;
    transition: 0.4s;
}

