@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.projects-container {
    width: 100vw;
    height: 60vh;
    background-color: $cream;
    // border-top: solid 20px $cream;

    .projects-content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .projects-heading {
            font-size: 34px;
            margin: 15px;
            font-family: 'Open Sans', sans-serif;
        }

        .projects {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;

            .projects-info {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;

                .project-img {
                    width: 390px;
                    height: 350px;
                    border: solid 2px black;
                    margin: 20px;
                }

                .project-title {
                    font-family: 'Open Sans', sans-serif;
                }
            }
    
        }
    }
}