@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.projects-container {
    width: 100vw;
    height: 70vh;
    background-color: $cream;
    border-top: solid 1px lightgrey;
    box-shadow: 2px 2px 12px 2px black;

    .projects-content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;


        .projects-heading {
            font-size: 34px;
            margin: 15px;
            font-family: 'Open Sans', sans-serif;
        }

        .projects {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
            margin: 25px;

            .projects-info {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;

                .project-img {
                    width: 390px;
                    height: 350px;
                    // border: solid 2px black;
                    margin: 20px;
                    border-radius: 8px;
                    box-shadow: 2px 6px 9px 2px grey;
                }

                .project-img:hover {
                    opacity: 0.6;
                    cursor: pointer;
                }

                .project-title {
                    font-family: 'Open Sans', sans-serif;
                }
            }
    
        }

        .learn-btn {
            width: 150px;
            height: 50px;
            border-radius: 8px;
            border: 1px solid black;
            background-color: black;
            color:#faf9ed;
            box-shadow: 4px 2px 5px 2px grey;
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;
        }
    
        .learn-btn:hover {
            border: 2px solid #eb4034;
            cursor: pointer;
            box-shadow: none;
    
        }
    }
}